*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.admin  {

}

.admin form{
    border: 1px solid rgb(2, 14, 28);
    border-radius: 4px;
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 50px  auto;
    gap: 20px;
}

.admin form input {
    padding: 8px;
    border-radius: 4px;
    
}
.admin form button {
    padding: 8px;
    border-radius: 4px;

}