*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

.navbar {
    background-color: rgb(8, 8, 44);
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
   
}

a{
    color: white;
}